<%- include('./style.ejs') %>
    <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
        <div class="d-flex flex-fill justify-content-center mb-0">
            <a href="/auth/google">
                <button type="button" class="login-with-google-btn">
                    &nbsp; &nbsp; Sign in with Google &nbsp; &nbsp;
                </button>
            </a>
        </div>
    </div>
    <div class="or">
        <hr class="bar" />
        <span>OR</span>
        <hr class="bar" />
    </div>