<h1>Add item</h1>

<form method="POST" action="/item/add" enctype="multipart/form-data">
    <label>Item Name</label>
    <input name="itemName" type="text" required />

    <label>Item description</label>
    <textarea name="description" required></textarea>

    <label>Item price</label>
    <input name="priceRate" type="number" value="0" min="0" required />

    <label>Dopsite amount</label>
    <input name="deposit" type="number" value="0" min="0" required />

    <label>Item condition</label>
    <select name="condition" id="condition" required>
        <option value="new">new</option>
        <option value="good">good</option>
        <option value="old">old</option>
    </select>

    <label>Item Type</label>
    <select name="type" id="type" required>
        <option value="home appliances">home appliances</option>
        <option value="electronics">electronics</option>
        <option value="other">other</option>
    </select>
    <input type="file" name="itemImage" id="" required>
    <input type="submit" value="submit">
    <!-- <button type="submit">Next</button> -->

</form>