<h1>Add item</h1>

<form method="POST" action="/item/add">
<div>
    <label>Item Name</label>
    <input name="itemName" type="text"/>
</div>
<div>
    <label>Item description</label>
    <textarea name="description"></textarea>
</div>
<div>
    <label>Item price</label>
    <input name="priceRate" type="text"/>
</div>
<div>
    <label>Item condition</label>
    <input name="condition" type="text"/>
</div>
<div>
    <label>Item Type</label>
    <input name="type" type="text"/>
</div>




<button type="submit">Add item</button>

</form>


