<h1>Add item</h1>

<form method="POST" action="/item/add">
    <input type="file" name="itemImage" id="">
    <!-- <button type="submit">submit item</button> -->
    <label>Item Name</label>
    <input name="itemName" type="text" />

    <label>Item description</label>
    <textarea name="description"></textarea>

    <label>Item price</label>
    <input name="priceRate" type="number" value="0" min="0" selected />

    <label>Dopsite amount</label>
    <input name="deposit" type="number" value="0" min="0" />

    <label>Item condition</label>
    <select name="condition" id="condition">
        <option value="new">new</option>
        <option value="good">good</option>
        <option value="old">old</option>
    </select>

    <label>Item Type</label>
    <select name="type" id="type">
        <option value="home appliances">home appliances</option>
        <option value="electronics">electronics</option>
        <option value="other">other</option>
    </select>

    <button type="submit">Add item</button>

</form>