<h1>Add item</h1>
<form action="/item/addimg?id=<%= item._id %>" method="post" enctype="multipart/form-data">
    <input type="file" name="itemImage" id="" required>
    <button type="submit">submit item</button>
</form>