<h1>borrow item <%= item.itemName %>
</h1>
<p>User <%= user.username %>
</p>

<% if (user.credit<item.deposit) { %>

    <form action="/item/borrow?id=<%= item._id %>" method="post">
        <button type="submit" disabled>borrow </button>
        You have insufficient balance, <a href="/payment">please make payment first</a>
        <% } else { %>
            <form action="/item/borrow?id=<%= item._id %>" method="post">
                <button type="submit">Rent it </button>
                <% } %>
            </form>