<h1> item list </h1>

<% items.forEach(function(item){ %>

    <div>
        <%= item.itemName %>
            <img src="/images/items/<%= item.itemImage %>" alt="item picture" width="300" height="300">

            <a href="/item/details?id=<%= item._id %>"><button>Rent Now</button></a>

    </div>
    <% }) %>