<div class="container py-5">
  <div>
    <h1>Return & review: <span class="text-muted">
        <%= item.itemName %>
      </span>
    </h1>
  </div>
  <form method="POST" action="/item/return?id=<%= item._id %>">
    <div class="form-group">
      <label>item Score</label>
      <select class="form-control" name="score" id="rate" required>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <div class="form-group my-3">
      <label>Item Reveiw</label>
      <textarea class="form-control" name="description" rows="3" required></textarea>
    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-outline-primary ms-1 my-3">Submit review</button>
    </div>

  </form>











</div>