<h1>Review</h1>

<form method="POST" action="/review/add" >
    <label for="score" >Rate</label>
    <select name="score" id="rate">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option> 
    <textarea name="description" id="" cols="30" rows="10"></textarea>
<button type="submit">submit</button>
</form>