<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>RnB</title>
</head>

<body>
    Layout
    <nav>
        <a href="/">home</a>
        <a href="/home/another">another</a>
        <a href="/auth/signin">sign in</a>
        <a href="/auth/signup">sign up</a>
        <a href="/auth/signout">sign out</a>
    </nav>
    <%- body %>
</body>

</html>