<h1>Home Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolorem accusantium doloremque repudiandae nisi labore
    blanditiis incidunt quidem nobis! Molestiae rerum totam dolore ea deleniti veniam suscipit iusto est delectus.
    Minima excepturi repudiandae delectus sed, beatae alias adipisci unde aspernatur nesciunt, esse doloribus culpa non?
    Aspernatur voluptas iusto possimus consectetur natus fuga dignissimos eius, consequatur doloremque perferendis odio
    nostrum error?</p>
<form action="/upload/profile" method="post" enctype="multipart/form-data">
    <input type="file" name="profileImage" id="">
    <button type="submit">submit</button>
</form>
<form action="/upload/item" method="post" enctype="multipart/form-data">
    <input type="file" name="itemImage" id="">
    <button type="submit">submit item</button>
</form>