<h1>Home Page</h1>
<form action="/upload/profile" method="post" enctype="multipart/form-data">
    <input type="file" name="profileImage" id="">
    <button type="submit">submit</button>
</form>
<form action="/upload/item" method="post" enctype="multipart/form-data">
    <input type="file" name="itemImage" id="">
    <button type="submit">submit item</button>
</form>