<h1>Items</h1>

<table>

    <tr>
    <th>Item Name</th>
    
    <th>Description</th>
    
    <th>priceRate</th>
    
    <th>User</th>
    
    <th>Review</th>
    
    <th>Type</th>

    <th>Score</th>

    </tr>

</table>