.cover-img {
    object-fit: cover;
}

.cap {
    text-transform: capitalize
}

.signin {
    background-color: white;
    margin-right: 5px;
    color: #0d6efd;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.itemsP{
    margin: 40px auto;
    
  
}
.itemC{
    padding: 40px;
    margin: 0 auto;
    text-align: center;

}
.bgd{
    background-color: #EEEEEE ;

}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


    .pic{
        
        position: relative;
        align-items: center;
        top: 40%;
        right: -40%;
        border-radius: 100%;
        padding: 15px;
    }
    
    .edit{ 
    position: relative;
    align-items: center;
    /* top: 0%; */
    top: 50%;
    right: -42%;
    }

    
    

    
    #updatebtn{
        position: relative;
        align-items: center;
        display: flex;
        padding: 5px;
        margin: 5px;
        right: -42%;
        /* top: -40%; */
    }
